*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    line-height: 1.15;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

.app {
    min-height: 100vh;
    text-rendering: auto;
    padding: clamp(0.3rem, 5vw, 2.5rem) clamp(0.3, 5vw, 7.5rem);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--text-color);
}   